body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.social {
    height: 365px;

    background:url(images/default-user-icon-profile.png)
}
.social .panel {
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 5%;
}
.social .btn-primary {
    margin-top: 50%;
    margin-bottom: 10%;
}

.c-item .panel-body{ width: 200px;margin: auto;}
.c-item .panel-footer .progress{ height: 10px;background-color:#d0efc5}

